*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.bodystyle{
	width:90%;
	margin:0 auto;
}
.logostyle{
	height:60px;
}
.carousel-inner img {
    width: 90%;
    height: 450px;
  }
 main{
 	margin:40px 0px;
 }
.card{
	border:none;
}
.msstyle{
	width:95%;
	height:400px;
	background-image:url('../image/banner1.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:20px 0 0px 0;
	color:white;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-item:flex-start;
	padding-left:40px;
}
footer{
	background:#f2f2f2;
	padding:40px 0;
}
footer li{
	list-style:none;
}
footer a{
	text-decoration:none;
	color:#818181;
}

	
